<div class="container" style="margin:100px auto">
    <div class="row">
        <div class="col-6 offset-3 text-bg-dark p-3 ">
            <h4>Modificar la novedad</h4>
            <form action="/admin/novedades/modificar" method="post">
                <input type="hidden" value="{{novedad.id}}" name="id">
                <div class="form-group" style="margin:20px auto">
                    <label form="">Titulo</label>
                    <input type="text" class="form-control" placeholder="Titulo" name="titulo"
                        value="{{novedad.titulo}}">
                </div>
                <div class="form-group" style="margin:20px auto">
                    <label form="">Subtitulo</label>
                    <input type="text" class="form-control" placeholder="Subtitulo" name="subtitulo"
                        value="{{novedad.subtitulo}}">
                </div>
                <div class="form-group" style="margin:20px auto">
                    <label form="">Cuerpo</label>
                    <textarea name="cuerpo" class="form-control" placeholder="Cuerpo">{{novedad.cuerpo}}</textarea>
                </div>
                <button type="submit" class="btn btn-primary">Modificar</button>
            </form>
            {{#if error}}
            <p>{{message}}</p>
            {{/if}}
        </div>
    </div>
</div>